<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<aop:aspectj-autoproxy />
	<bean id="traceAspect" class="lee.spring.common.ProfilingAspect" />
	<bean id="writeArticleService" class="lee.spring.board.service.WriteArticleServiceImpl">
		<constructor-arg>
			<ref bean="articleDao" />
		</constructor-arg>
	</bean>
	<bean id="articleDao" class="lee.spring.board.dao.OracleArticleDAO" />
	<bean id="memberService" class="lee.spring.member.service.MemberServiceImpl" />
</beans>

