<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="collectionBean" class="lee.spring.collection.CollectionBean">
		<property name="addressMap">
			<map>
				<entry>
					<key><value>홍길동</value></key>
					<value>율도국</value>
				</entry>
				<entry>
					<key><value>손오공</value></key>
					<value>화과산</value>
				</entry>
			</map>
		</property>
	</bean>
</beans>
