<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="collectionBean" class="lee.spring.collection.CollectionBean">
		<property name="addressSet">
			<set value-type="java.lang.String"> <!-- value 타입 별도 지정 -->
				<value>서울시 서초구 서초동</value>
				<value>서울시 동대문구 장안동</value>
				<value>서울시 동대문구 장안동</value>
				<value>서울시 동대문구 장안동</value>
			</set>
		</property>
	</bean>
</beans>
